__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
.DS_Store
.idea/
.vscode/
outputs/
build/
dist/
*.egg-info
# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.toc
*.synctex.gz
*.pdf
